body,
html {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
#qrBox{
    margin: 0 auto;
    text-align: center;
}
/* // 按钮 */
.input-box{
    margin-top: 20px;
    width: 300px;
    border: #547248 solid 1px;
    padding: 5px;
    font-weight: bold;
}
.button-box{
    margin:0 auto;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    background: #547248;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
    margin: 5px;
    font-size: 15px;
}
/* // 二维码 */
#qrcode{
    margin: 0 auto;
    margin-top: 80px;
    width: 200px;
    height: 200px;
}

#bg{
    text-align: center;
    background: url("./img/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 500px;
    /* // border:  dotted 2px #547248; */
    margin: 0 auto;
}
